<%# 管理者ページのトップ画面 %>
<h1 class="admin-title">管理者ページ</h1>
<div class="admin-area">
  <p>データベースのツイート関連データを最新の状態にします</p>
  <form method="post" action="/admin/save">
    <button type="submit">更新</button>
  </form>
  <p class="back-p"><a href="JavaScript:history.back()" class="link-underline">戻る</a></p>
</div>