<%# エラー画面 %>
<div class="error-area">
  <p class="error-message">
    <strong>
      <%= flashMessages.errorMessage %>
    </strong>
  </p>
  <p class="back-p"><a href="JavaScript:history.back()" class="link-underline">戻る</a></p>
</div>